
//=====================================================
//Color
//=====================================================

$black: #3c3c3c;
$white: #ffffff;
$red: #e64747;
$title-green: #d6e2d6;
$service-design: #f1f2e1;
$service-coding:#E1E9EA;
$service-WordPress:#F4EDED;
$works-gray: #edf0ee;
$contact-box: #707070;


