@use "../../global"as g;

.c-button--contact{
    border: 1px solid g.$black;
    border-radius: 3px;
    font-family: fot-klee-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: g.$white;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    max-width: 160px;
    display: block;
    background: g.$black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    @include g.mq(tab){
        margin-top: 60px;
    }

    @include g.mq(tab1){
        margin-top: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @include g.mq(pc){
        font-size: 18px;
    }

    @include g.mq(pc1){
        font-size: 20px;
        padding: 19px 0;
    }

    &:hover{
        opacity: 0.8;
    }

    //English version//
    &_en{
        border: 1px solid g.$black;
        border-radius: 3px;
        font-family: nimbus-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        color: g.$white;
        margin: 40px auto;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 45%;
        max-width: 160px;
        display: block;
        background: g.$black;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        @include g.mq(tab){
            margin-top: 60px;
        }

        @include g.mq(tab1){
            margin-top: 80px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @include g.mq(pc){
            font-size: 18px;
        }

        @include g.mq(pc1){
            font-size: 20px;
            padding: 19px 0;
        }

        &:hover{
            opacity: 0.8;
        }
    }
}
