@use "../global"as g;

.l-contact{
    margin-top: 150px;
    padding-top: 80px;

    @include g.mq(tab){
        margin-top: 200px;
        padding-top:125px;
    }
    @include g.mq(pc){
        margin-top: 290px;
        padding-top: 140px;
    }

    &__wrapper{
        
        margin: 100px 36px 160px 36px;
        @include g.mq(tab){
            margin: 150px 80px 200px 80px;
        }

        @include g.mq(tab1){
            margin: 150px 140px 250px 140px;
        }

        @include g.mq(pc){
            margin: 200px 180px 300px 180px;
        }
        
    }

}