@use "../global"as g;

.l-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: g.$title-green;
    display: flex;
    justify-content: center;
    align-items: center;

    @include g.mq(tab1){
        height: 105px;
    }

    @include g.mq(pc1){
        height: 160px;
    }
}